.idea
.idea/*

__pycache__
__pycache__/*

__pycache__/
*.py[cod]
*$py.class

#STATICS
static/avatars/*.png
static/avatars/*.jpg
static/avatars/*.jpeg
static/missing/*.png
static/missing/*.jpg
static/missing/*.jpeg
static/reports/*.png
static/reports/*.jpg
static/reports/*.jpeg
#ENVIRONMENTS
.env
.env.production
.env.development

#VENV
.venv
.venv/*